* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3.5rem;
}
body {
  background-color: #101010;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191919;
  padding: 25px 15%;
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  display: flex;
}
.navbar li {
  position: relative;
}
.navbar a {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 20px;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #bf00ff;
  left: 0;
  bottom: -4px;
  transition: ease 0.4s;
}
.navbar a:hover::after {
  width: 100%;
}
.h-btn {
  padding: 0 20px;
  height: 40px;
  display: inline-block;
  line-height: 42px;
  background: #bf00ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.h-btn:hover {
  transform: translateY(-5px);
}
section {
  padding: 120px 15%;
}
.home {
  height: 100vh;
  width: 100%;
  background: url(./assets/home.png);
  background-size: cover;
  background-position: center;
  background-position-x: right;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}
.home-text h1 {
  margin: 20px 0px 20px;
  font-size: 5.3rem;
}
span {
  color: #bf00ff;
}
.home-text h3 {
  font-size: 25px;
  margin-bottom: 55px;
}
.home-text h4 {
  color: #585c63;
  font-size: 20px;
  letter-spacing: 2px;
}
.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid #bf00ff;
  border-radius: 30px;
}
.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  background: #bf00ff;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
  cursor: pointer;
  top: 6px;
  right: 6px;
}

.about {
  background: #191919;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 2rem;
}
.about-img img {
  max-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
}
.about-text h2 {
  font-size: 4.2rem;
  margin-bottom: 20px;
}
.about-text h5 {
  font-size: 28px;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.about-text p {
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 590px;
  font-size: 1.1rem;
  margin-bottom: 45px;
}
.btn {
  display: inline-block;
  background: #bf00ff;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 600;
  padding: 13px 30px;
  border-radius: 30px;
  transition: ease 0.35s;
}
.btn:hover {
  transform: translateY(-8px);
  border: 2px solid #bf00ff;
  background: transparent;
}

.services {
  background: #000;
}
.center {
  text-align: center;
}
.center h2 {
  font-size: 4.2rem;
  margin-bottom: 15px;
}
.center p {
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1.1rem;
}
.service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.5rem;
}
.row {
  background: #191919;
  padding: 55px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.35s;
}
.row i {
  color: #bf00ff;
  margin-bottom: 20px;
  font-size: 2.7rem;
}
.row h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.row p {
  color: #868686;
  line-height: 30px;
  font-size: 1.1rem;
}
.row:hover {
  transform: translateY(-8px);
}

.portfolio {
  background: #101010;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.5rem;
  cursor: pointer;
}
.box img {
  min-width: 100%;
  width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s;
}
.box p {
  color: #c6c9d8bf;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.box h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.box img:hover {
  transform: scale(1.1);
}

.contact {
  background: #101010;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 3rem;
}

.contact-img img {
  max-width: 100%;
  width: 700px;
  height: auto;
  border-radius: 10px;
}
.contact-form h2 {
  font-size: 4.2rem;
  margin-bottom: 15px;
}
.contact-form p {
  color: #c6c9d8bf;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 1.1rem;
  margin-bottom: 4.1rem;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form form .send {
  display: inline-block;
  background: #bf00ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  width: 200px;
  transition: ease 0.35s;
  text-transform: uppercase;
}
.contact-form form .send:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.footer {
  text-align: center;
  background: #191919;
  padding: 34px;
}
.footer p {
  font-size: 17px;
  color: #c6c9d8bf;
  letter-spacing: 1px;
}
